#md-footer {
	background-color: #333;
	color: #ccc; 
	padding: 40px 20px;
}

#md-footer .image {
	margin: 0 10px 0 0;
}

.copy-left {
	display: inline-block;
	text-align: right;
	margin: 0px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: “FlipH”; 
}