header img.logo {
	height: 24px !important;
}

.global-header {
	border-bottom: 2px solid #0075b4 !important;
	padding-bottom: 0 !important;
}

.md-resaltado {
	background: #0075b4 !important;
}

.md-nopadding {
	padding-top: 0;
	padding-bottom: 0;
}

a.md-resaltado {
	color: #ffffff !important; 
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
	background-color: #add8e6 !important;	
}