header img.logo {
	height: 24px !important;
}

.global-header {
	border-bottom: 2px solid #0075b4 !important;
}

@media screen and (min-width: 992px) {

	.global-header .header-logo a {
		margin: 12px 0 0 40px !important;
	}

	.global-header .nav-links .secondary {
		margin: 11px 40px 0 0 !important;
	}

	.md-btn::-moz-focus-inner{
		border: 0;
		padding: 0;
	}

	.md-btn{
		display: inline-block;
		*display: inline;
		zoom: 1;
		padding: 5px 10px;
		margin: 0;
		cursor: pointer;
		border: 1px solid #bbb;
		overflow: visible;
		font: bold 13px arial, helvetica, sans-serif !important;
		text-decoration: none;
		white-space: nowrap;
		color: #555 !important;
		
		background-color: #ddd;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
		background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
		background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
		background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
		background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
		
		-webkit-transition: background-color .2s ease-out;
		-moz-transition: background-color .2s ease-out;
		-ms-transition: background-color .2s ease-out;
		-o-transition: background-color .2s ease-out;
		transition: background-color .2s ease-out;
		background-clip: padding-box; /* Fix bleeding */
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
		box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
		text-shadow: 0 1px 0 rgba(255,255,255, .9);
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.md-btn:hover{
		background-color: #eee;
		color: #555;
	}

	.md-btn:active{
		background: #e9e9e9;
		position: relative;
		top: 1px;
		text-shadow: none;
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
	}

	.md-btn[disabled], .md-btn[disabled]:hover, .md-btn[disabled]:active{
		border-color: #eaeaea;
		background: #fafafa;
		cursor: default;
		position: static;
		color: #999;
		/* Usually, !important should be avoided but here it's really needed :) */
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	/* Smaller md-btns styles */

	.md-btn.small{
		padding: 4px 12px;
	}

	/* Larger md-btns styles */

	.md-btn.large{
		padding: 12px 30px;
		text-transform: uppercase;
	}

	.md-btn.large:active{
		top: 2px;
	}

	/* Colorojo md-btns styles */

	.md-btn.verde, .md-btn.rojo, .md-btn.azul {
		color: #fff;
		text-shadow: 0 1px 0 rgba(0,0,0,.2);
		
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	}

	/* */

	.md-btn.verde{
		background-color: #57a957;
		border-color: #57a957;
	}

	.md-btn.verde:hover{
		background-color: #62c462;
	}

	.md-btn.verde:active{
		background: #57a957;
	}

	/* */

	.md-btn.rojo{
		background-color: #ca3535;
		border-color: #c43c35;
	}

	.md-btn.rojo:hover{
		background-color: #ee5f5b;
	}

	.md-btn.rojo:active{
		background: #c43c35;
	}

	/* */

	.md-btn.azul{
		background-color: #269CE9;
		border-color: #269CE9;
	}

	.md-btn.azul:hover{
		background-color: #70B9E8;
	}

	.md-btn.azul:active{
		background: #269CE9;
	}

	/* */

	.verde[disabled], .verde[disabled]:hover, .verde[disabled]:active{
		border-color: #57A957;
		background: #57A957;
		color: #D2FFD2;
	}

	.rojo[disabled], .rojo[disabled]:hover, .rojo[disabled]:active{
		border-color: #C43C35;
		background: #C43C35;
		color: #FFD3D3;
	}

	.azul[disabled], .azul[disabled]:hover, .azul[disabled]:active{
		border-color: #269CE9;
		background: #269CE9;
		color: #93D5FF;
	}


}