.hero-body {
	background-image: url('https://storage.googleapis.com/docenciamd/home-page.jpg') no-repeat;
}

@media (min-width: 768px) {

	.content-wrapper {
		margin: 0 !important;
		padding: 0 !important;
	}

	.global-header .nav-links .secondary .nav-item {
		padding: 0;
	}

}

.courses-container {
	margin: 0 20px 0 !important;
}