.global-header .header-logo a .logo {
	height: 24px;
}

.home > header {
	background: url('../mdx-edx/images/kids.jpeg');
	background-size: cover;
	background-position: 50%;

	.outer-wrapper {
		padding-top: 150px;
	    padding-bottom: 150px;
	}
	.title {
		background: transparent;
		box-shadow: none;
		margin-left: 0;

		> .heading-group h1 {
			color: #fff;
			text-shadow: none;
		}
		> .heading-group p {
			color: #fff;
		}
	}
}

.vitrina .force-full-screen {
	background-image: url('../mdx-edx/images/landing.jpg');
	background-position: 50% 0;
}

@media (min-width: 992px) {
	.global-header .nav-links .secondary .nav-item {
		padding: 0;
	}	
}
