.global-header .header-logo a .logo {
	height: 24px;
}

.vitrina .force-full-screen {
	background-image: url('../mdx-edx/images/landing.jpg');
	background-position: 50% 0;
}

@media (min-width: 992px) {
	.global-header .nav-links .secondary .nav-item {
		padding: 0;
	}	
}

@import 'buttons'

.fancy-title.title-dotted-border {
    background: url(../mdx-edx/images/icons/dotted.png) repeat-x center;
}
.title-center {
    text-align: center;
}
.fancy-title {
    position: relative;
    margin-bottom: 30px;
}

#content {
    position: relative;
    overflow: hidden;
    background-color: #FFF;
}

.content-wrap {
    position: relative;
    padding: 80px 0;
}

#content .container {
    position: relative;
}

.clearfix::after {
	display: block;
	clear: both;
	content: "";
}

/* ----------------------------------------------------------------
	Bootstrap Adjustments
-----------------------------------------------------------------*/

@media (min-width: 576px) {
	.container { max-width: 540px; }
}

@media (min-width: 768px) {
	.container { max-width: 750px; }
}

@media (min-width: 992px) {
	.container { max-width: 970px; }
}

@media (min-width: 1200px) {
	.container { max-width: 1170px; }
}