## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About Us")}</%block>

<div class="page-heading">
    <h1>${_("About Us")}</h1>
</div>
<section class="static-content">
    <div class="grid-manual grid-container">
        <div class="inner-container">
            <div class="row">
                <div class="col col-12 sm-col-8">
                    ##                     <h1>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h1>
                    ##                     <h2>Lorem ipsum dolor sit amet</h2>
                    <p>Meeds.org offers a world-class platform to facilitate online learning. Our effort is to bridge the access gap which exists for potential learners and geographical barriers with respect to education providers. 
Apart from nation-wide open access platforms we provide tailor-made solutions for corporates, corporate trainers, educational institutes, etc. to run their own learning/training platforms on an exclusive basis.
                </p>


                    <h2>Inquiries</h2>
                
                        <a href="" class="brand-link">info@meeds.org</a><br/>

                    </p>
                </div>
                <div class="col col-12 sm-col-4 mission-statement">
                   <!--  <img src="${static.url('images/about-page-image.jpg')}" alt="Mission Statement">
                    <p>"Open access to education is an important theme at SAPS Museum. Our education centre has
                        partnered with ABC MOOCs as part of our mission to raise awareness about the educational
                        opportunity and historical artefacts on display at the museum."</p> -->

                </div>
            </div>
        </div>
    </div>
</section>
