## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<div class="page-heading">
    <h1>${_("Privacy Policy")}</h1>
</div>
<section class="static-content">
    <div class="grid-manual grid-container">
        <div class="inner-container">
            <div class="row">
                <div class="col col-12 sm-col-12 md-col-3">
##                     <ul class="list-divided">
##                         <li class="item"><a href="#collaboration-policy"
##                                             class="brand-link">${_("Lorem ipsum dolor sit amet")}</a></li>
##                         <li class="item"><a href="#honor-code-pledge"
##                                             class="brand-link">${_("Lorem ipsum dolor sit amet")}</a></li>
##                         <li class="item"><a href="#changing-the-honor-code"
##                                             class="brand-link">${_("Lorem ipsum dolor sit amet")}</a></li>
##                     </ul>
                </div>
                <div class="col col-12 sm-col-12 md-col-9">
##                     <h2 id="collaboration-policy">Lorem ipsum dolor sit amet</h2>
                    <p>
                        ABC MOOCs reserves the right to terminate any user’s rights to use this website at any time. You
                        must act in a responsible and polite manner when using this website, and are not allowed to
                        defame other users or use unacceptable language. You may not download or share course materials
                        with anyone unless permission to do so is unambiguously noted in the course. You may not
                        advertise your products or services, or embark on any action that is commercial in nature.

                    </p>
                    <a href="#" class="brand-link back-to-top">${_("Back to top")}</a>

                </div>
            </div>
        </div>
    </div>
</section>
