## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<script type="text/template" id="advisory-content">
    <div class="grid-manual">
        <div class="row">
            <div class="col col-12 text-center">
                <h2>What our advisory council say about ABC MOOCs! </h2>
            </div>

            <div class="col col-3 text-center"></div>
            <div class="col col-6 text-center">
                <p>Our advisory council is comprised of leaders of learning from the United Kingdom of Great Britain &
                    Northern Ireland and South Africa.</p>
            </div>
            <div class="col col-3 text-center"></div>
        </div>

        <div class="row advisory-list text-center">
            <div class="col col-4 advisory-list-item">
                <div class="advisory-icon">

                    <p>

                        "The force (SAPS) has been around for over 100 years in South Africa. I have been with SAPS for
                        40 of those years. That's a lot of history! As museum curator, I wish to thank ABC MOOCs for
                        their support in developing SAPS MOOCs."<br/><br/>
                        <span>Captain Henry Jones, SAPS (ret. 2017)</span>

                    </p>
                </div>
            </div>
            <div class="col col-4 advisory-list-item">
                <div class="advisory-icon">

                    <p>

                        "Having worked for the city council in both Zimbabwe as well as South Africa, I've had the
                        chance to see how southern Africa has developed over the years. Online education certainly has
                        an exciting role to play here in South Africa.”

                        <br/><br/>
                        <span>Peter Wilkinson, Senior Advisor, ABC MOOCs</span>
                    </p>
                </div>
            </div>
            <div class="col col-4 advisory-list-item">
                <div class="advisory-icon">

                    <p>

                        "Although data remains relatively costly in Africa, e-learning remains one of the most efficient
                        ways of supporting improved access to education. It has worked well elsewhere and it is taking
                        hold in Africa with ABC MOOCs."
                        <br/><br/>
                        <span>His Excellency Amb. Dr. Noël Lehoko</span>

                    </p>
                </div>
            </div>
        </div>

    </div>
</script>

<script src="${static.url('js/advisory-site.js')}"></script>
