## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<script type="text/template" id="partners-content"  data-jsassets="${static.url('js/c.js')}">
    <section class="partners-section">
        <div class="partners-title">
            <h3>
                <span class="partners-title--big">Our Partners</span>
            </h3>
        </div>
        <div id="partners">
            <div class="owl-carousel">

                <div class="owl-item" style="width: 216px;">
                    <li>
                        <a href="https://family-history.co.za/" target="_blank">
                            <img src="${static.url('images/ctfhs.jpg')}"
                                 alt=" The Cape Town Family History Society">
                        </a>
                    </li>
                </div>
                <div class="owl-item" style="width: 216px;">
                    <li>
                        <a href="https://family-history.co.za/" target="_blank">
                            <img src="${static.url('images/ctfhs.jpg')}"
                                 alt=" The Cape Town Family History Society">
                        </a>
                    </li>
                </div>
                <div class="owl-item" style="width: 216px;">
                    <li>
                        <a href="https://family-history.co.za/" target="_blank">
                            <img src="${static.url('images/ctfhs.jpg')}"
                                 alt=" The Cape Town Family History Society">
                        </a>
                    </li>
                </div>
                <div class="owl-item" style="width: 216px;">
                    <li>
                        <a href="https://family-history.co.za/" target="_blank">
                            <img src="${static.url('images/ctfhs.jpg')}"
                                 alt=" The Cape Town Family History Society">
                        </a>
                    </li>
                </div>
                <div class="owl-item" style="width: 216px;">
                    <li>
                        <a href="https://family-history.co.za/" target="_blank">
                            <img src="${static.url('images/ctfhs.jpg')}"
                                 alt=" The Cape Town Family History Society">
                        </a>
                    </li>
                </div>
                <div class="owl-item" style="width: 216px;">
                    <li>
                        <a href="https://family-history.co.za/" target="_blank">
                            <img src="${static.url('images/ctfhs.jpg')}"
                                 alt=" The Cape Town Family History Society">
                        </a>
                    </li>
                </div>
                <div class="owl-item" style="width: 216px;">
                    <li>
                        <a href="https://family-history.co.za/" target="_blank">
                            <img src="${static.url('images/ctfhs.jpg')}"
                                 alt=" The Cape Town Family History Society">
                        </a>
                    </li>
                </div>
            </div>

        </div>

    </section>

</script>

<script src="${static.url('js/partners-site.js')}"></script>