## mako

<%namespace name='static' file='/static_content.html'/>

<div id="md-footer">
	<div class="columns">
		<div class="column is-four-fifths">
			<img class="logo is-pulled-left" src="${static.url("images/logo.png")}" width="150" height="20" alt="DocenciaMD Logo"/>
			<p class="is-size-7">DocenciaMD está dedicada a la ciencia del aprendizaje. Los estudiantes en línea son una parte importante de ese objetivo. La información que reunimos a partir de su participación en nuestras ofertas de educación médica continua hace posible que nuestros docentes, investigadores, diseñadores e ingenieros mejoren continuamente su trabajo y, a través de ese proceso, puedan desarrollar la ciencia del aprendizaje.</p>
		</div>
		<div class="column">
			<img class="is-pulled-right" src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-light.png" width="150" height="50" alt="Powered by Open edX" />
		</div>
	</div>	
</div>