## mako

<%namespace name='static' file='/static_content.html'/>

<div id="md-footer">
	<div class="columns">
		<div class="column is-four-fifths">
			<figure class="image is-64x64">
				<img src="${static.url("images/icons/logo-icon-gray.png")}" width="64" height="64" alt="DocenciaMD Logo"/>
			</figure>
			<p class="is-size-7">Algunos derechos reservados. DocenciaMD está dedicada a la ciencia del aprendizaje. Los estudiantes en línea son una parte importante de ese objetivo. La información que reunimos a partir de su participación en nuestras ofertas de educación médica continua hace posible que nuestros equipo mejore continuamente su trabajo y, a través de ese proceso, pueda desarrollar la ciencia del aprendizaje aplicada a la educación médica continua.</p>
			<p class="is-size-7"><a href="#">Términos del servicio y código de honor</a> | <a href="#">Política de privacidad</a></p>
		</div>
		<div class="column">
			<img class="is-pulled-right" src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-dark.png" width="150" height="50" alt="Powered by Open edX" />
		</div>
	</div>	
</div>