<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<section id="banner" class="hero is-medium">
	<div class="hero-body">
		<div class="container">
			<img src="${static.url("images/slogan.png")}" alt="Aprende, Innova, Cura">
		</div>
	</div>
</section>

<main id="main" aria-label="Content" tabindex="-1">
		<section class="home">

			<%include file="${courses_list}" />

		</section>
</main>